/* c style comment */
// c++ style comment

// build this file using:
// sass css/lists.scss css/output.css


// importing font face
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;;
}

// importing colors variables
@import "colors";
@import "just-another";
// Nesting
// base selector
body > ul {

  border: 1px solid yellow;

  // reference to the "ul"
  &:hover {
    background-color: $typography_main;
  }

  // continue with those selectors
  > li > span {
    color: blueviolet;

    a {

    }
  }

  > li:first-child {
    font-weight: bold;
  }
}


// pseudo elements with reference
a {
  color: blue;

  &:hover {
    color: red;
  }
}

// calculation with CSS units
p {
  width: calc(100vw - 200px);
  background-color: $bg_main;

}

// this mixin will not be shown in the real CSS
@mixin bordered {
  border: 1px solid grey;
  border-radius: 1em;
}

p {
  @include bordered;
  border-radius: 2em;
}

.main {
  @include bordered;
}


// mixin with arguments
@mixin coloredBorder($c: red) {
  border: 1px solid $c;
  border-radius: 1em;
}

.classFoo {
  // the border will be red
  @include coloredBorder();
}

.classBar {
  // the border will be green
  @include coloredBorder(#00ff00);
}

